<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.trc.mapper.score.IScoreChangeDetailMapper" >

     <insert id="insertScoreChangeDetail" parameterType="org.trc.domain.score.ScoreChangeDetail">
        insert into score_change_detail(
            userId,
            orderCode,
            scoreId,
            scoreChildId,
            score,
            scoreBalance,
            freezingScoreBalance,
            flowType,
            expirationTime,
            createTime
        )values(
            #{userId},
            #{orderCode},
            #{scoreId},
            #{scoreChildId},
            #{score},
            #{scoreBalance},
            #{freezingScoreBalance},
            #{flowType},
            #{expirationTime},
            #{createTime}
        )
    </insert>
</mapper>
