<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.trc.mapper.goods.ICardItemAbandonedMapper" >

    <!-- 添加数据 -->
    <insert id="selectIntoFromCardItem" parameterType="org.trc.domain.goods.CardItemDO">
        INSERT INTO card_item_abandoned(shopId, batchNumber, code, state, createTime, abandonedTime)
        SELECT
            shopId,
            batchNumber,
            code,
            state,
            createTime,
            now()
        FROM
            card_item
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="shopId != null">
                and shopId = #{shopId}
            </if>
            <if test="batchNumber != null and batchNumber != ''">
                and batchNumber = #{batchNumber}
            </if>
        </where>
    </insert>

</mapper>
