<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.trc.mapper.goods.ICardItemMapper" >

    <!-- 所有查询字段 -->
    <sql id="allSelectionColumn">
        id,
        shopId,
        batchNumber,
        code,
        state,
        userId,
        orderCode,
        createTime,
        releaseTime
    </sql>

    <!-- 根据ID删除数据-->
    <delete id="deleteByBatchNumber" parameterType="org.trc.domain.goods.CardItemDO">
        delete from card_item
        WHERE batchNumber = #{batchNumber} and shopId = #{shopId} and state = 0
    </delete>

    <!-- 根据ID查询实体数据 -->
    <select id="selectByParams" parameterType="org.trc.domain.goods.CardItemDO" resultType="org.trc.domain.goods.CardItemDO">
        SELECT
        ci.id,
        ci.shopId,
        ci.batchNumber,
        ci.code,
        ci.state,
        ci.userId,
        ci.orderCode,
        ci.createTime,
        ci.releaseTime,
        cc.couponName
        FROM card_item ci inner join card_coupons cc on ci.batchNumber = cc.batchNumber
        <where>
            <if test="shopId != null">
                and ci.shopId = #{shopId}
            </if>
            <if test="batchNumber != null and batchNumber != ''">
                and ci.batchNumber = #{batchNumber}
            </if>
            <if test="code != null and code != ''">
                and ci.code = #{code}
            </if>
        </where>
    </select>
    <!-- 根据ID删除数据-->
    <delete id="deleteById" parameterType="org.trc.domain.goods.CardItemDO">
        delete from card_item
        WHERE id = #{id} and shopId = #{shopId} and state = 0
    </delete>

    <!-- 添加数据 -->
    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO card_item(batchNumber, shopId, code, state, createTime)
        VALUES
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.batchNumber}, #{item.shopId}, #{item.code}, #{item.state}, #{item.createTime})
        </foreach>
    </insert>

    <!-- 根据ID查询实体数据 -->
    <select id="checkCardItem" parameterType="org.trc.domain.goods.CardItemDO" resultType="org.trc.domain.goods.CardItemDO">
        SELECT <include refid="allSelectionColumn"/> FROM card_item
        <where>
            code in(
            <foreach collection="list" item="item" index="index" separator="," >
                #{item.code}
            </foreach>
            )
        </where>
    </select>

    <!-- 根据批次号更新信息-->
    <update id="releaseCardCoupons" parameterType="org.trc.domain.goods.CardItemDO">
        UPDATE card_item
        <set>
            <if test="state != null">
                state = #{state},
            </if>
            <if test="userId != null">
                userId = #{userId},
            </if>
            <if test="orderCode != null">
                orderCode = #{orderCode},
            </if>
            <if test="releaseTime != null">
                releaseTime = #{releaseTime},
            </if>
        </set>
        WHERE batchNumber = #{batchNumber} and state = 0 limit #{quantity}
    </update>
</mapper>
