<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.trc.mapper.goods.ICouponsMapper">

    <!-- 根据BatchNumber删除数据-->
    <update id="deleteByBatchNumber" parameterType="org.trc.domain.goods.CardCouponsDO">
        UPDATE card_coupons SET
        version = version+1,
        isDeleted = 1
        WHERE batchNumber = #{batchNumber}
        <if test="shopId != null ">
            and shopId = #{shopId}
        </if>
    </update>
</mapper>