<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.trc.mapper.goods.IGoodsMapper">

    <!-- 所有查询字段 -->
    <sql id="allSelectionColumn">
        id,
        shopId,
        category,
        brandName,
        goodsName,
        barcode,
        goodsNo,
        batchNumber,
        goodsSn,
        mainImg,
        mediumImg,
        priceMarket,
        priceScore,
        targetUrl,
        stock,
        stockWarn,
        exchangeQuantity,
        virtualExchangeQuantity,
        isUp,
        content,
        versionLock,
        isDeleted,
        validStartTime,
        validEndTime,
        autoUpTime,
        autoDownTime,
        upTime,
        snapshotTime,
        createTime,
        updateTime
    </sql>
    <!-- 根据ID更新信息-->
    <update id="updateById" parameterType="org.trc.domain.goods.GoodsDO">
        UPDATE goods SET
        versionLock = versionLock + 1,
        isUp = 0,
        <if test="brandName != null and brandName != ''">
            brandName = #{brandName},
        </if>
        <if test="goodsName != null and goodsName != ''">
            goodsName = #{goodsName},
        </if>
        <if test="barcode != null and barcode != ''">
            barcode = #{barcode},
        </if>
        <if test="goodsNo != null">
            goodsNo = #{goodsNo},
        </if>
        <if test="virtualExchangeQuantity != null">
            virtualExchangeQuantity = #{virtualExchangeQuantity},
        </if>
        <if test="batchNumber != null and batchNumber != ''">
            batchNumber = #{batchNumber},
        </if>
        <if test="goodsSn != null and goodsSn != ''">
            goodsSn = #{goodsSn},
        </if>
        <if test="mainImg !=null and mainImg !=''">
            mainImg = #{mainImg},
        </if>
        <if test="mediumImg !=null and mediumImg !=''">
            mediumImg = #{mediumImg},
        </if>
        priceMarket = #{priceMarket},
        <if test="priceScore != null ">
            priceScore = #{priceScore},
        </if>
        <if test="targetUrl != null ">
            targetUrl = #{targetUrl},
        </if>
        <if test="stock != null ">
            stock = #{stock},
        </if>
        <if test="stockWarn != null ">
            stockWarn = #{stockWarn},
        </if>
        <if test="content != null ">
            content = #{content},
        </if>
        <if test="validStartTime != null ">
            validStartTime = #{validStartTime},
        </if>
        <if test="validEndTime != null ">
            validEndTime = #{validEndTime},
        </if>
        <if test="autoUpTime != null ">
            autoUpTime = #{autoUpTime},
        </if>
        <if test="autoDownTime != null ">
            autoDownTime = #{autoDownTime},
        </if>
        <if test="sort != null and sort !=''">
            sort = #{sort},
        </if>
        updateTime = NOW()
        WHERE id = #{id}
    </update>

    <!-- 根据ID删除数据-->
    <update id="deleteByParam" parameterType="org.trc.domain.goods.GoodsDO">
        UPDATE goods SET
        versionLock = versionLock+1,
        isDeleted = 1,
        updateTime = NOW()
        WHERE
        id = #{id}
        and shopId = #{shopId}
    </update>

    <!--多条件查询未推荐商品信息(分页) -->
    <select id="selectListExceptRecommendByPage" parameterType="org.trc.domain.goods.GoodsDO"
            resultType="org.trc.domain.goods.GoodsDO">
        SELECT
        <include refid="allSelectionColumn"/>
        FROM goods g where not exists (select 1 from goods_recommend where g.id = goodsId and shopId = #{shopId} and isDeleted = 0)
        and g.shopId = #{shopId} and g.isUp = 1 and g.isDeleted = 0
        <if test="goodsName != null">
            and g.goodsName like concat('%',#{goodsName},'%')
        </if>
        order by updateTime desc
    </select>

    <!-- 验证多商品ID所属 -->
    <select id="isOwnerOf" parameterType="java.util.Map" resultType="int">
        SELECT COUNT(*)
        FROM goods
        <where>
            shopId = #{shopId} and whetherPrizes = 0
        </where>
        AND id in
        <foreach collection="idList" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <!--多条件查询未删除商品信息(分页)用户视角 -->
    <select id="selectListByParams" parameterType="org.trc.domain.goods.GoodsDO" resultType="org.trc.domain.goods.GoodsDO">
        SELECT <include refid="allSelectionColumn"/> FROM goods
        <where>
            <if test="goodsName != null">
                and goodsName like concat('%',#{goodsName},'%')
            </if>
            <if test="priceScore != null and 0!= priceScore">
                and <![CDATA[ priceScore < #{priceScore} ]]>
            </if>
            <if test="shopId != null">
                and shopId = #{shopId}
            </if>
            <if test="isUp != null">
                and isUp = #{isUp}
            </if>
            <if test="category != null">
                and category = #{category}
            </if>
            <if test="whetherPrizes != null">
                and whetherPrizes = #{whetherPrizes}
            </if>
            <if test="whetherPrizes == null">
                and whetherPrizes = 0
            </if>
            and isDeleted = 0
        </where>
        order by sort asc, updateTime desc
    </select>

    <!--多条件查询未删除商品信息(分页)用户视角 -->
    <select id="selectListByClassification" parameterType="org.trc.domain.query.GoodsQuery" resultType="org.trc.domain.goods.GoodsDO">
        SELECT distinct g.* FROM goods g left join goods_classification_relationship gcr on g.id = gcr.goodsId
        <where>
            <if test="goodsName != null">
                and g.goodsName like concat('%',#{goodsName},'%')
            </if>
            <if test="shopId != null">
                and g.shopId = #{shopId}
            </if>
            <if test="isUp != null">
                and g.isUp = #{isUp}
            </if>
            <if test="classificationId != null">
                and gcr.shopClassificationId = #{classificationId}
            </if>
            <if test="whetherPrizes != null">
                and g.whetherPrizes = #{whetherPrizes}
            </if>
            <if test="whetherPrizes == null">
                and g.whetherPrizes = 0
            </if>
            and isDeleted = 0
        </where>
        order by g.sort asc, g.updateTime desc
    </select>


    <select id="selectCountByParams" parameterType="org.trc.domain.goods.GoodsDO" resultType="int">
        SELECT COUNT(id) FROM goods
        <where>
            <if test="goodsName != null">
                and goodsName like concat('%',#{goodsName},'%')
            </if>
            <if test="category != null">
                and category = #{category}
            </if>
            <if test="batchNumber != null">
                and batchNumber = #{batchNumber}
            </if>
            <if test="isUp != null">
                and isUp = #{isUp}
            </if>
            <if test="priceScore != null">
                and <![CDATA[ priceScore < #{priceScore} ]]>
            </if>
            and whetherPrizes = 0
            and isDeleted = 0
        </where>
    </select>

    <select id="queryActivityPrizes" parameterType="org.trc.domain.luckydraw.ActivityPrizesDO" resultType="org.trc.domain.luckydraw.ActivityPrizesDO">
        select id goodsId, goodsNo goodsNo, goodsName name, mainImg prizeUrl, 'GOODS' prizeType from goods
        <where>
            <if test="name != null">
                and goodsName like concat('%',#{name},'%')
            </if>
            <if test="category != null">
                and category = #{category}
            </if>
            and whetherPrizes = 1 and isDeleted = 0 and (( autoUpTime is null and autoDownTime is null ) or ( now() > autoUpTime and now() <![CDATA[ < ]]> autoDownTime))
        </where>
    </select>

    <!-- 根据id扣减库存,添加兑换数量-->
    <update id="orderAssociationProcessing" parameterType="org.trc.domain.goods.GoodsDO">
        UPDATE goods SET
        versionLock = versionLock+1,
        stock = stock - #{exchangeQuantity},
        <if test="snapshotTime != null ">
            snapshotTime = #{snapshotTime},
        </if>
        exchangeQuantity = exchangeQuantity + #{exchangeQuantity}
        WHERE id = #{id} and versionLock = #{versionLock}
    </update>
</mapper>