<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.trc.mapper.goods.IGoodsMapper">

    <!-- 所有查询字段 -->
    <sql id="allSelectionColumn">
        id,
        shopId,
        category,
        brandName,
        goodsName,
        barcode,
        goodsNo,
        batchNumber,
        goodsSn,
        mainImg,
        mediumImg,
        priceMarket,
        priceScore,
        targetUrl,
        stock,
        stockWarn,
        exchangeQuantity,
        virtualExchangeQuantity,
        isUp,
        content,
        versionLock,
        isDeleted,
        validStartTime,
        validEndTime,
        autoUpTime,
        autoDownTime,
        upTime,
        snapshotTime,
        createTime,
        updateTime
    </sql>
    <!-- 根据ID更新信息-->
    <update id="updateById" parameterType="org.trc.domain.goods.GoodsDO">
        UPDATE goods SET
        versionLock = versionLock + 1,
        isUp = 0,
        <if test="brandName != null and brandName != ''">
            brandName = #{brandName},
        </if>
        <if test="goodsName != null and goodsName != ''">
            goodsName = #{goodsName},
        </if>
        <if test="barcode != null and barcode != ''">
            barcode = #{barcode},
        </if>
        <if test="goodsNo != null">
            goodsNo = #{goodsNo},
        </if>
        <if test="virtualExchangeQuantity != null">
            virtualExchangeQuantity = #{virtualExchangeQuantity},
        </if>
        <if test="batchNumber != null and batchNumber != ''">
            batchNumber = #{batchNumber},
        </if>
        <if test="goodsSn != null and goodsSn != ''">
            goodsSn = #{goodsSn},
        </if>
        <if test="mainImg !=null and mainImg !=''">
            mainImg = #{mainImg},
        </if>
        <if test="mediumImg !=null and mediumImg !=''">
            mediumImg = #{mediumImg},
        </if>
        priceMarket = #{priceMarket},
        <if test="priceScore != null ">
            priceScore = #{priceScore},
        </if>
        <if test="targetUrl != null ">
            targetUrl = #{targetUrl},
        </if>
        <if test="stock != null ">
            stock = #{stock},
        </if>
        <if test="stockWarn != null ">
            stockWarn = #{stockWarn},
        </if>
        <if test="content != null ">
            content = #{content},
        </if>
        <if test="validStartTime != null ">
            validStartTime = #{validStartTime},
        </if>
        <if test="validEndTime != null ">
            validEndTime = #{validEndTime},
        </if>
        <if test="autoUpTime != null ">
            autoUpTime = #{autoUpTime},
        </if>
        <if test="autoDownTime != null ">
            autoDownTime = #{autoDownTime},
        </if>
        updateTime = NOW()
        WHERE id = #{id}
    </update>

    <!-- 根据ID删除数据-->
    <update id="deleteByParam" parameterType="org.trc.domain.goods.GoodsDO">
        UPDATE goods SET
        versionLock = versionLock+1,
        isDeleted = 1
        WHERE
        id = #{id}
        and shopId = #{shopId}
    </update>

    <!--多条件查询未推荐商品信息(分页) -->
    <select id="selectListExceptRecommendByPage" parameterType="org.trc.domain.goods.GoodsDO"
            resultType="org.trc.domain.goods.GoodsDO">
        SELECT
        <include refid="allSelectionColumn"/>
        FROM goods g where not exists (select 1 from goods_recommend where g.id = goodsId and shopId = #{shopId} and isDeleted = 0)
        and g.shopId = #{shopId} and g.isUp = 1 and g.isDeleted = 0
        <if test="goodsName != null">
            and g.goodsName like concat('%',#{goodsName},'%')
        </if>
        order by updateTime desc
    </select>
</mapper>