<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.trc.mapper.order.IConsumptionSummaryMapper" >
    <select id="queryMonthConsumptionSummary" parameterType="org.trc.domain.query.SettlementQuery" resultType="org.trc.domain.order.ConsumptionSummaryDO">
        select userId, shopId, phone, left(accountDay,7) as accountDay, SUM(exchangeInNum) as exchangeInNum, SUM(consumeNum) as consumeNum  from consumption_summary
        <where>
            <if test="shopId != null and shopId != ''">
                AND shopId = #{shopId}
            </if>
            <if test="phone != null and phone != ''">
                AND phone = #{phone}
            </if>
            AND <![CDATA[ UNIX_TIMESTAMP(accountDay) >= unix_timestamp(#{startTime})
            AND UNIX_TIMESTAMP(accountDay) < unix_timestamp(#{endTime})]]>
        </where>
        group by userId, shopId, phone, left(accountDay,7)
        order by userId desc, shopId desc, phone desc, left(accountDay,7) desc
    </select>

    <select id="queryConsumptionSummaryForExport" parameterType="org.trc.domain.query.SettlementQuery" resultType="org.trc.domain.order.ConsumptionSummaryDO">
        select * from consumption_summary
        <where>
            <if test="shopId != null and shopId != ''">
                AND shopId = #{shopId}
            </if>
            <if test="phone != null and phone != ''">
                AND phone = #{phone}
            </if>
            AND <![CDATA[ UNIX_TIMESTAMP(accountDay) >= unix_timestamp(#{startTime})
            AND UNIX_TIMESTAMP(accountDay) < unix_timestamp(#{endTime})]]>
        </where>
    </select>
    <select id="queryMonthConsumptionSummaryForExport" parameterType="org.trc.domain.query.SettlementQuery" resultType="org.trc.domain.order.ConsumptionSummaryDO">
        select userId, shopId, phone, left(accountDay,7) as accountDay, SUM(exchangeInNum) as exchangeInNum, SUM(consumeNum) as consumeNum  from consumption_summary
        <where>
            <if test="shopId != null and shopId != ''">
                AND shopId = #{shopId}
            </if>
            <if test="phone != null and phone != ''">
                AND phone = #{phone}
            </if>
            AND <![CDATA[ UNIX_TIMESTAMP(accountDay) >= unix_timestamp(#{startTime})
            AND UNIX_TIMESTAMP(accountDay) < unix_timestamp(#{endTime})]]>
        </where>
        group by userId, shopId, phone, left(accountDay,7)
        order by userId desc, shopId desc, phone desc, left(accountDay,7) desc
    </select>

    <select id="generateConsumptionSummarySDForExchangeIn" parameterType="java.util.Map" resultType="org.trc.domain.dto.ConsumptionSummaryStatisticalDataDTO">
        select count(*) as totalExchangeCount,
        sum(score) as exchangeNum
        from score_change
        <where>
            state = 0
            AND businessCode = 'exchangeIn'
            <if test="phone != null and phone != ''">
                AND userName = #{phone}
            </if>
            AND <![CDATA[ createTime >= #{startTime}
            AND createTime < #{endTime}]]>
        </where>
    </select>

    <select id="generateConsumptionSummarySDForConsume" parameterType="java.util.Map" resultType="org.trc.domain.dto.ConsumptionSummaryStatisticalDataDTO">
        select count(*) as totalConsumptionCount,
        sum(score) as consumptionNum
        from score_change
        <where>
            state = 0
            AND businessCode = 'income'
            <if test="shopId != null and shopId !=''">
                AND shopId = #{shopId}
            </if>
            <if test="phone != null and phone != ''">
                AND theOtherUserName = #{phone}
            </if>
            AND <![CDATA[ createTime >= #{startTime}
            AND createTime < #{endTime}]]>
        </where>
    </select>
</mapper>