<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.trc.mapper.order.IOrderMapper" >
    <!-- 所有查询字段 -->
    <sql id="allSelectionColumn">
        id,
        orderNum,
        shopId,
        goodsId,
        barcode,
        goodsNo,
        goodsName,
        goodsCount,
        minImg,
        userId,
        username,
        orderState,
        orderType,
        source,
        price,
        payment,
        freight,
        versionLock,
        isDeleted,
        createTime,
        deliveryTime,
        confirmTime,
        updateTime
    </sql>
    
    <select id="getSettlementByParams" parameterType="org.trc.domain.query.SettlementQuery" resultType="org.trc.domain.settlement.SettlementDO">
        SELECT
        shopId as shopId,
        count(id) as quantity,
        sum(payment) as totalAmount,
        sum(freight) as totalFreight,
        #{startTime} as startTime,
        #{endTime} as endTime
        FROM
        orders
        <where>
            <if test="shopId != null">
                and shopId = #{shopId}
            </if>
            <if test="orderStates != null and orderStates.size() > 0">
                and orderState in
                <foreach item="item" index="index" collection="orderStates" open="(" separator="," close=")">
                    #{orderStates[${index}]}
                </foreach>
            </if>
            AND <![CDATA[createTime >= #{startTime}
            AND createTime < #{endTime}]]>
            and source = 1
        </where>
        GROUP BY
        shopId
        ORDER BY
        shopId ASC
    </select>
    
    <!--多条件查询表信息(分页) -->
    <select id="selectListByParams" parameterType="org.trc.domain.dto.OrderDTO" resultType="org.trc.domain.order.OrdersDO">
        SELECT <include refid="allSelectionColumn"/>
        FROM orders
        <where>
            1=1
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="orderNum != null and orderNum != ''">
                and orderNum = #{orderNum}
            </if>
            <if test="goodsName != null and goodsName != ''">
                and goodsName = #{goodsName}
            </if>
            <if test="orderState != null">
                and orderState = #{orderState}
            </if>
            <if test="orderType != null">
                and orderType = #{orderType}
            </if>
            <if test="userId != null">
                and userId = #{userId}
            </if>
            <if test="shopId != null">
                and shopId = #{shopId}
            </if>
            <if test="operateTimeMin!=null">
                and createTime <![CDATA[>=]]> #{operateTimeMin}
            </if>
            <if test="operateTimeMax!=null">
                and createTime <![CDATA[<]]> #{operateTimeMax}
            </if>
            and source = 1
        </where>
        order by createTime desc
    </select>

    <!--多条件查询表信息(分页) -->
    <select id="selectOrdersByParams" parameterType="org.trc.domain.query.SettlementQuery" resultType="org.trc.domain.order.OrdersDO">
        SELECT <include refid="allSelectionColumn"/>
        FROM orders
        <where>
            <if test="shopId != null and shopId != ''">
                and shopId = #{shopId}
            </if>
            <if test="userId != null and userId != ''">
                and userId = #{userId}
            </if>
            <if test="orderStates != null and orderStates.size() > 0">
                and orderState in
                <foreach item="item" index="index" collection="orderStates" open="(" separator="," close=")">
                    #{orderStates[${index}]}
                </foreach>
            </if>
            <if test="orderNum != null and orderNum != ''">
                and orderNum = #{orderNum}
            </if>
            <if test="goodsName != null and goodsName != ''">
                and goodsName like concat(#{goodsName},'%')
            </if>
            <if test="startTime != null">
                AND createTime >= #{startTime}
            </if>
            <if test="endTime != null">
                AND <![CDATA[createTime < #{endTime}]]>
            </if>
        </where>
        order by shopId asc, createTime desc
    </select>

    <select id="queryOrderAndAddressForExport" parameterType="org.trc.domain.query.SettlementQuery" resultType="org.trc.domain.dto.ExportOrderDTO">
        select id as orderId, createTime as orderDate, orderNum, barcode, goodsNo, goodsName, goodsCount, orderState, price, payment from orders
        <where>
            <if test="orderNum != null and orderNum != ''">
                and orderNum = #{orderNum}
            </if>
            <if test="shopId != null and shopId != ''">
                and shopId = #{shopId}
            </if>
            <if test="userId != null and userId != ''">
                and userId = #{userId}
            </if>
            <if test="orderState != null and orderState != ''">
                and orderState = #{orderState}
            </if>
            <if test="orderType != null and orderType != ''">
                and orderType = #{orderType}
            </if>
			<if test="startTime !=null">
    			AND <![CDATA[DATE_FORMAT(createTime, '%Y-%m-%d')>=  DATE_FORMAT(#{startTime}, '%Y-%m-%d')   ]]>
			</if>
			<if test="endTime !=null">
    			AND <![CDATA[DATE_FORMAT(createTime, '%Y-%m-%d') <= DATE_FORMAT(#{endTime}, '%Y-%m-%d')    ]]>
			</if>
            and source = 1
        </where>
        ORDER BY
        shopId ASC,createTime desc
    </select>

    <select id="queryOrdersForExport" parameterType="org.trc.domain.query.SettlementQuery" resultType="org.trc.domain.dto.ExportOrderDTO">
        select id as orderId, createTime as orderDate, orderNum, shopId, username, barcode, goodsName, payment,goodsCount from orders
        <where>
            <if test="shopId != null">
                and shopId = #{shopId}
            </if>
            <if test="userId != null">
                and userId = #{userId}
            </if>
            <if test="startTime !=null">
    			AND <![CDATA[DATE_FORMAT(createTime, '%Y-%m-%d')>=  DATE_FORMAT(#{startTime}, '%Y-%m-%d')   ]]>
			</if>
			<if test="endTime !=null">
    			AND <![CDATA[DATE_FORMAT(createTime, '%Y-%m-%d') <= DATE_FORMAT(#{endTime}, '%Y-%m-%d')    ]]>
			</if>
            and source = 1
        </where>
        ORDER BY
        shopId ASC,createTime ASC
    </select>

    <select id="selectRefundOrdersByParams" parameterType="org.trc.domain.query.SettlementQuery" resultType="org.trc.domain.dto.OrderDTO">
        select ord.createTime, ordx.returnTime,ord.orderNum, ord.shopId, ord.username, ord.barcode, ord.goodsName,ord.payment scoreCount,ord.goodsCount,sh.shopName
        from orders ord ,orders_extend ordx,shop sh
        <where>
            ord.id = ordx.orderId and ord.shopId = sh.id
            <if test="shopId != null and shopId != ''">
                and ord.shopId = #{shopId}
            </if>
            <if test="userId != null and userId != ''">
                and ord.userId = #{userId}
            </if>
            <if test="startTime !=null">
                AND <![CDATA[ordx.returnTime >= #{startTime}]]>
            </if>
            <if test="endTime !=null">
                AND <![CDATA[ordx.returnTime <= #{endTime}]]>
            </if>
            and ord.source = 1
            and ord.orderState = 5
        </where>
        ORDER BY ordx.returnTime desc
    </select>
    
    
    <!--自动确认收货,默认处理按规则排序前1000条-->
    <update id ="confirmOrder" parameterType="java.util.Map">
        UPDATE orders SET orderState = #{confirmState}, confirmTime = #{time} where orderState = #{originalState} and <![CDATA[ deliveryTime < DATE_SUB(#{time},INTERVAL 15 DAY) ]]>
    </update>

    <!--统计待发货数量 -->
    <select id="quantityToBeReceived" parameterType="org.trc.domain.order.OrdersDO" resultType="java.lang.Integer">
        SELECT count(id)
        FROM orders
        <where>
            <if test="orderState != null">
                and orderState = #{orderState}
            </if>
            <if test="userId != null">
                and userId = #{userId}
            </if>
            <if test="shopId != null">
                and shopId = #{shopId}
            </if>
            and source = 1
        </where>
    </select>

    <!--统计待发货数量 -->
    <select id="quantityToBeDelivered" parameterType="org.trc.domain.order.OrdersDO" resultType="java.lang.Integer">
        SELECT count(id)
        FROM orders
        <where>
            <if test="orderState != null">
                and orderState = #{orderState}
            </if>
            <if test="userId != null">
                and userId = #{userId}
            </if>
            <if test="shopId != null">
                and shopId = #{shopId}
            </if>
            and source = 1
        </where>
    </select>
</mapper>
