<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.trc.mapper.order.IOrderMapper" >

    <!-- 所有查询字段 -->
    <sql id="allSelectionColumn">
        id,
        orderNum,
        shopId,
        goodsId,
        barcode,
        goodsNo,
        goodsName,
        goodsCount,
        minImg,
        userId,
        username,
        orderState,
        orderType,
        source,
        price,
        payment,
        freight,
        versionLock,
        isDeleted,
        createTime,
        deliveryTime,
        confirmTime,
        updateTime
    </sql>

    <!--多条件查询表信息(分页) -->
    <select id="selectListByParams" parameterType="org.trc.domain.dto.OrderDTO" resultType="org.trc.domain.order.OrdersDO">
        SELECT <include refid="allSelectionColumn"/>
        FROM orders
        <where>
            1=1
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="orderNum != null and orderNum != ''">
                and orderNum = #{orderNum}
            </if>
            <if test="goodsName != null and goodsName != ''">
                and goodsName = #{goodsName}
            </if>
            <if test="orderState != null">
                and orderState = #{orderState}
            </if>
            <if test="orderType != null">
                and orderType = #{orderType}
            </if>
            <if test="userId != null">
                and userId = #{userId}
            </if>
            <if test="shopId != null">
                and shopId = #{shopId}
            </if>
            <if test="operateTimeMin!=null">
                and createTime <![CDATA[>=]]> #{operateTimeMin}
            </if>
            <if test="operateTimeMax!=null">
                and createTime <![CDATA[<]]> #{operateTimeMax}
            </if>
            and source = 1
        </where>
        order by createTime desc
    </select>

    <!--多条件查询表信息(分页) -->
    <select id="selectOrdersByParams" parameterType="org.trc.domain.dto.SettlementQuery" resultType="org.trc.domain.order.OrdersDO">
        SELECT <include refid="allSelectionColumn"/>
        FROM orders
        <where>
            <if test="shopId != null and shopId != ''">
                and shopId = #{shopId}
            </if>
            <if test="userId != null and userId != ''">
                and userId = #{userId}
            </if>
            <if test="orderStates != null and orderStates.size() > 0">
                and orderState in
                <foreach item="item" index="index" collection="orderStates" open="(" separator="," close=")">
                    #{orderStates[${index}]}
                </foreach>
            </if>
            <if test="orderNum != null and orderNum != ''">
                and orderNum = #{orderNum}
            </if>
            <if test="goodsName != null and goodsName != ''">
                and goodsName like concat(#{goodsName},'%')
            </if>
            <if test="startTime != null">
                AND createTime >= #{startTime}
            </if>
            <if test="endTime != null">
                AND <![CDATA[createTime < #{endTime}]]>
            </if>
            and source = 1
        </where>
        order by shopId asc, createTime desc
    </select>


    <select id="queryOrderAndAddressForExport" parameterType="org.trc.domain.dto.SettlementQuery" resultType="org.trc.domain.dto.ExportOrderDTO">
        select id as orderId, createTime as orderDate, orderNum, barcode, goodsName, goodsCount, price, payment from orders
        <where>
            <if test="orderNum != null and orderNum != ''">
                and orderNum = #{orderNum}
            </if>
            <if test="shopId != null and shopId != ''">
                and shopId = #{shopId}
            </if>
            <if test="userId != null and userId != ''">
                and userId = #{userId}
            </if>
            <if test="orderState != null and orderState != ''">
                and orderState = #{orderState}
            </if>
            <if test="orderType != null and orderType != ''">
                and orderType = #{orderType}
            </if>
            AND <![CDATA[createTime >= #{startTime}
            AND createTime < #{endTime}]]>
            and source = 1
        </where>
        ORDER BY
        shopId ASC,createTime desc
    </select>
</mapper>
