<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.trc.mapper.settlement.ISettlementMapper" >

    <!-- 所有查询字段 -->
    <sql id="allSelectionColumn">
        id,
        shopId,
        balance,
        previousBalance,
        accountDay,
        billNum,
        shopName,
        quantity,
        totalAmount,
        totalFreight,
        startTime,
        endTime,
        settlementTime,
        settlementState,
        createTime
    </sql>

    <!--多条件查询表信息(分页) -->
    <select id="selectListByParams" parameterType="org.trc.domain.order.SettlementDO" resultType="org.trc.domain.settlement.SettlementDO">
        SELECT <include refid="allSelectionColumn"/> FROM settlement
        <where>
            <if test="shopId != null ">
                shopId = #{shopId}
            </if>
        </where>
        order by createTime desc
    </select>
    
     <select id="getLastSettlement" parameterType="java.lang.Long" resultType="org.trc.domain.settlement.SettlementDO">
        SELECT <include refid="allSelectionColumn"/> FROM settlement
        where shopId = #{shopId}
        order by accountDay desc limit 1
    </select>

    <!-- 添加数据 -->
    <insert id="insert" parameterType="org.trc.domain.settlement.SettlementDO">
        <selectKey resultType="Long" order="AFTER" keyProperty="id">
        SELECT LAST_INSERT_ID() AS id
        </selectKey>
        INSERT INTO settlement(
        shopId,
        balance,
        previousBalance,
        accountDay,
        billNum,
        shopName,
        quantity,
        totalAmount,
        totalFreight,
        startTime,
        endTime,
        <if test="settlementTime != null ">
            settlementTime,
        </if>
        settlementState,
        createTime
        )VALUES(
        #{shopId},
        #{balance},
        #{previousBalance},
        #{accountDay},
        #{billNum},
        #{shopName},
        #{quantity},
        #{totalAmount},
        #{totalFreight},
        #{startTime},
        #{endTime},
        <if test="settlementTime != null ">
            #{settlementTime},
        </if>
        #{settlementState},
        #{createTime})
    </insert>

    <!-- 根据ID更新信息-->
    <update id="updateById" parameterType="org.trc.domain.settlement.SettlementDO">
        UPDATE settlement
        <set>
            <if test="settlementState != null ">
                settlementState = #{settlementState},
            </if>
            <if test="settlementTime != null ">
                settlementTime = #{settlementTime},
            </if>
        </set>
        WHERE id = #{id}
    </update>

</mapper>
